version: "3.8"
services:
  mysql:
    image: "mysql:8"
    ports:
      - "3306:3306"
    restart: always
    environment:
      MYSQL_DATABASE: dinotest
      MYSQL_ROOT_PASSWORD: mysecretpassword

  postgresql:
    image: "postgres:13"
    ports:
      - "5432:5432"
    restart: always
    environment:
      POSTGRES_DB: dinotest
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_USER: postgres
