{{define "dbCodeTemplatePgx"}}

type {{.StandAloneName}}DBTX interface {
	Exec(context.Context, string, ...interface{}) (pgconn.CommandTag, error)
	Query(context.Context, string, ...interface{}) (pgx.Rows, error)
	QueryRow(context.Context, string, ...interface{}) pgx.Row
{{- if .UsesCopyFrom }}
	CopyFrom(ctx context.Context, tableName pgx.Identifier, columnNames []string, rowSrc pgx.CopyFromSource) (int64, error)
{{- end }}
{{- if .UsesBatch }}
	SendBatch(context.Context, *pgx.Batch) pgx.BatchResults
{{- end }}
}

{{ if .EmitMethodsWithDBArgument}}
func New{{.StandAloneName}}() *{{.StandAloneName}}Queries {
	return &{{.StandAloneName}}Queries{}
{{- else -}}
func New{{.StandAloneName}}(db {{.StandAloneName}}DBTX) *{{.StandAloneName}}Queries {
	return &{{.StandAloneName}}Queries{db: db}
{{- end}}
}

type {{.StandAloneName}}Queries struct {
    {{if not .EmitMethodsWithDBArgument}}
	db {{.StandAloneName}}DBTX
    {{end}}
}

{{if not .EmitMethodsWithDBArgument}}
func (q *{{.StandAloneName}}Queries) WithTx(tx pgx.Tx) *{{.StandAloneName}}Queries {
	return &{{.StandAloneName}}Queries{
		db: tx,
	}
}
{{end}}
{{end}}
