Babel==2.17.0
Jinja2==3.1.6
MarkupSafe==3.0.3
Pygments==2.19.2
Sphinx==7.4.7
certifi==2025.10.5
chardet==5.2.0
commonmark==0.9.1
docutils==0.20.1
idna==3.11
imagesize==1.4.1
myst-parser==4.0.1 
packaging==25.0
pyparsing==3.2.5
pytz==2025.2
requests==2.32.5
snowballstemmer==3.0.1
sphinx-favicon==1.0.1
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sphinxext-rediraffe==0.3.0
urllib3==2.5.0
