alabaster==0.7.12
Babel==2.9.1
certifi==2020.12.5
chardet==4.0.0
commonmark==0.9.1
docutils==0.16
idna==2.10
imagesize==1.2.0
Jinja2==2.11.3
MarkupSafe==1.1.1
packaging==20.9
Pygments==2.7.4
pyparsing==2.4.7
pytz==2021.1
recommonmark==0.7.1
requests==2.25.1
snowballstemmer==2.1.0
Sphinx==4.4.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
urllib3==1.26.5
