.wy-side-nav-search img {
  padding: 5px 60px !important;
}

#banner {
  text-align: center;
  background: #2980b9;
  border: 1px solid rgb(52, 49, 49);
  color: #F0F0F4;
  padding: 10px;
  margin-bottom: 1.618em;
}

#banner > div > a {
  color: #F0F0F4;
  text-decoration: underline;
}