name: python
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.21.3'
      - name: install ./...
        run: go install ./...
      - uses: actions/checkout@v4
        with:
          repository: sqlc-dev/sqlc-gen-python
          path: python
      - run: make test
        working-directory: python
      - run: sqlc diff
        working-directory: python/examples
